<div>
  <a [routerLink]="['ficha-paciente/crear']">Crear Ficha Paciente</a> |
  <a [routerLink]="['ficha-paciente/listar']">Listar Ficha Paciente</a> |
  <a [routerLink]="['ficha-atencion/crear']">Crear Ficha Atencion</a> |
  <a [routerLink]="['ficha-atencion/listar']">Listar Ficha Atencion</a> |
  <div class="logout"><app-logout></app-logout></div>
</div>
<hr>
<br>
<router-outlet></router-outlet>
