<h1>Listado Ficha de Pacientes</h1>
<br>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido Paterno</th>
    <th>Apellido Materno</th>
    <th>Sexo</th>
    <th>Sistema Salud</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let ficha of listadoFichasPacientes">
      <td>{{ficha.nombre}}</td>
      <td>{{ficha.apellidoPaterno}}</td>
      <td>{{ficha.apellidoMaterno}}</td>
      <td>{{ficha.sexo}}</td>
      <td>{{ficha.sistemaSalud}}</td>
      <td>
          <button (click)="redireccionarEditar(ficha.id)">Editar</button>
          <button (click)="redireccionarDetalle(ficha.id)">Detalle</button>
      </td>
  </tr>
</table>