<h1>Crear Ficha Atencion</h1>
<br>
<form [formGroup]= "formularioNuevaAtencion" (ngSubmit)="ingresarNuevaAtencion()">
  <table>
      <tr>
          <td>Medico Tratante : </td>
          <td><label>{{nombre}}</label> </td>
          
      </tr>
      <tr>
          <td>Paciente</td>
          <td>
            <select formControlName="paciente" >
              <option [value]="item.nombre" *ngFor="let item of listadoPacientes"> {{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}} </option>
            </select>
          </td>
          <td *ngIf="paciente.touched && formularioNuevaAtencion.controls['paciente'].errors?.required">
            Este valor es requerido
        </td>
          
      </tr>
      <tr>
          <td>Patologia</td>
          <td>
            <select formControlName="patologia">
                <option [value]="pat.nombre" *ngFor="let pat of listadoPatologias"> {{pat.nombre}} </option>
            </select>
          </td>
          <td *ngIf="formularioNuevaAtencion.controls['patologia'].errors?.required">
            Este valor es requerido
        </td>
        <td><app-patologia (Patologia)="agregarAlListado($event)"></app-patologia></td>
      </tr>
      <tr>
          <td>Detalle : </td>
          <td><textarea formControlName="detalle" cols="30" rows="3"></textarea></td>
          <td *ngIf="detalle.touched && formularioNuevaAtencion.controls['detalle'].errors?.required">
            Este valor es requerido
        </td>
      </tr>
      <tr>
          <td><button type="submit">Añadir Nueva Ficha de Atencion</button></td>
      </tr>
  </table>
</form>
