<h1>Detalle Ficha {{detalleFicha.nombre}} {{detalleFicha.apellidoPaterno}}</h1>
<br>
<table>
  <tr>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Sexo</th>
      <th>Sistema Salud</th>
      <th>Edad</th>
      <th>Correo</th>
      <th>Acciones</th>
  </tr>
  <tr>
      <td>{{detalleFicha.nombre}}</td>
      <td>{{detalleFicha.apellidoPaterno}}</td>
      <td>{{detalleFicha.apellidoMaterno}}</td>
      <td>{{detalleFicha.sexo}}</td>
      <td>{{detalleFicha.sistemaSalud}}</td>
      <td>{{detalleFicha.edad}}</td>
      <td>{{detalleFicha.correo}}</td>
      <td>
          <button (click)="redireccionarEditar(detalleFicha.id)">Editar</button>
          <button (click)="volverListado()">Volver</button>
      </td>
  </tr>
</table>
