<h1>Editar Ficha Paciente</h1>
<br>
<form [formGroup]="formularioFichaPaciente" (ngSubmit)="editarFichaPaciente()">
  <table>
      <tr>
          <td>Nombre : </td>
          <td><input type="text" formControlName="nombre"></td>
          <td *ngIf="nombre.touched && formularioFichaPaciente.controls['nombre'].errors?.required">
              Este valor es requerido
          </td>
          <td *ngIf="formularioFichaPaciente.controls['nombre'].errors?.maxlength">
              El valor no puede tener mas de 20 caracteres
          </td>
          <td *ngIf="formularioFichaPaciente.controls['nombre'].errors?.pattern">
              El valor solo acepta letras
          </td>
      </tr>
      <tr>
          <td>Apellido Paterno : </td>
          <td><input type="text" formControlName="apellidoPaterno"></td>
          <td *ngIf="apellidoPaterno.touched && formularioFichaPaciente.controls['apellidoPaterno'].errors?.required">
            Este valor es requerido
        </td>
        <td *ngIf="formularioFichaPaciente.controls['apellidoPaterno'].errors?.maxlength">
            El valor no puede tener mas de 20 caracteres
        </td>
        <td *ngIf="formularioFichaPaciente.controls['apellidoPaterno'].errors?.pattern">
            El valor solo acepta letras
        </td>
      </tr>
      <tr>
          <td>Apellido Materno : </td>
          <td><input type="text" formControlName="apellidoMaterno"></td>
          <td *ngIf="apellidoMaterno.touched && formularioFichaPaciente.controls['apellidoMaterno'].errors?.required">
            Este valor es requerido
        </td>
        <td *ngIf="formularioFichaPaciente.controls['apellidoMaterno'].errors?.maxlength">
            El valor no puede tener mas de 20 caracteres
        </td>
        <td *ngIf="formularioFichaPaciente.controls['apellidoMaterno'].errors?.pattern">
            El valor solo acepta letras
        </td>
      </tr>
      <tr>
          <td>Edad : </td>
          <td><input type="text" formControlName="edad"></td>
          <td *ngIf="formularioFichaPaciente.controls['edad'].errors?.pattern">
              El valor solo acepta números
          </td>
          <td *ngIf="edad.touched && formularioFichaPaciente.controls['edad'].errors?.required">
              Este valor es requerido
          </td>
      </tr>
      <tr>
          <td>Sexo : </td>
          <td>
            <select formControlName="sexo">
              <option *ngFor="let x of sex" [value]="x" >{{x}}</option>
            </select>
          </td>
          <td *ngIf="sexo.touched && formularioFichaPaciente.controls['sexo'].errors?.required">
            Este valor es requerido
        </td>
          
      </tr>
      <tr>
          <td>Correo</td>
          <td>
            <input type="text" formControlName="correo">
          </td>
          <td *ngIf="correo.touched && formularioFichaPaciente.controls['correo'].errors?.required">
            Este valor es requerido
        </td>
        <td *ngIf="formularioFichaPaciente.controls['correo'].errors?.pattern">
            Formato de correo incorrecto
        </td>
      </tr>
      <tr>
        <td>Sistema Salud</td>
        <td>
          <select formControlName="sistemaSalud">
            <option *ngFor="let i of salud" [value]="i" >{{i}}</option>
          </select>
        </td>
        <td *ngIf="sistemaSalud.touched && formularioFichaPaciente.controls['sistemaSalud'].errors?.required">
          Este valor es requerido
      </td>
    </tr>
      <tr>
          <td><button type="submit">Editar Ficha Medica</button>
            <button (click)="volverListado()">Volver</button></td>
      </tr>
  </table>
</form>