<h1>Listado Ficha de Atención</h1>
<br>
<table>
  <tr>
    <th>Paciente</th>
    <th>Patologia</th>
    <th>Accion</th>
  </tr>
  <tr *ngFor="let ficha of listadoFichaAtencion">
      <td>{{ficha.paciente}}</td>
      <td>{{ficha.patologia}}</td>
      <td>
          <button (click)="redireccionarDetalle(ficha.id)">Detalle</button>
      </td>
  </tr>
</table>