<h1>Detalle Ficha de Atención</h1>
<br>
<table>
  <tr>
    <th>Medico</th>
    <th>Paciente</th>
    <th>Patologia</th>
    <th>Detalle</th>
    <th>Accion</th>
  </tr>
  <tr>
      <td>{{detalleFicha.nombre}}</td>
      <td>{{detalleFicha.paciente}}</td>
      <td>{{detalleFicha.patologia}}</td>
      <td>{{detalleFicha.detalle}}</td>
      <td>
          <button (click)="redireccionarListado()">Volver</button>
      </td>
  </tr>
</table>